body {
  background-color: #003052 !important;
}
* {
  color: white !important;
}

.back-page {
  background-color: #070053 !important;
  height: 100%;
  width: 90%;
  top: 0;
  margin-left: 5% !important;
  margin: 0;
}

.bg-mine {
  background-color: #090070 !important;
}

.right-top-corner {
  top: 0;
  right: 0;
}

a:link {
  color: transparent;
  text-decoration: none;
}

.sun-icon {
  height: 80%;
  width: 80%;
}
.light-hover:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

@media only screen and (max-width: 992px) {
  .back-page {
    width: 100% !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin: 0 !important;
  }
  td {
    padding-left: 0;
    padding-right: 0;
  }
  .my-md-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
